body{
    background-color:rgb(241, 230, 230);
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0%;  
}

body header{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #036d5b;
    background-color:  rgb(241, 230, 230);
}

body header .barra{
    height:min-content;
  
}

body header .barra figure{
    width:3%;
    display: flex;   
}

body header .barra  figure img{
    width: 400%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

body header .barra figure h1{
    font-family: 'Abel', sans-serif;
    font-size: 25px;   
}

body header  nav{
    width:100%;
    justify-items: end;
    display: flex;
}

body header  nav ul{
    width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content:space-between;
    
}
body header  nav ul li{ 
    list-style: none;
    color: #000000;
    font-family: 'Abel', sans-serif;
    font-size: 1.3em;
}

body header  nav ul a{
    color: #000000;
    font-family: 'Abel', sans-serif;
    font-size: 1.3em;   
    list-style: none; 
}

