body{
    background-color:rgb(241, 230, 230);
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0%;  
}

body header{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #036d5b;
    background-color:  rgb(241, 230, 230);
}

body header .barra{
    height:min-content;
  
}

body header .barra figure{
    width:3%;
    display: flex;   
}

body header .barra  figure img{
    width: 400%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

body header .barra figure h1{
    font-family: 'Abel', sans-serif;
    font-size: 25px;   
}

body header  nav{
    width:100%;
    justify-items: end;
    display: flex;
}

body header  nav ul{
    width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content:space-between;
    
}
body header  nav ul li{ 
    list-style: none;
    color: #000000;
    font-family: 'Abel', sans-serif;
    font-size: 1.3em;
}

body header  nav ul a{
    color: #000000;
    font-family: 'Abel', sans-serif;
    font-size: 1.3em;   
    list-style: none; 
}
main div{
    overflow: hidden;
}


main .contacto{
    width: 1000px;
    margin: auto;
    background:rgba(1, 81, 83, 0.2);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    margin: 150px;
    margin-left: auto;
   
  
    
}

main .contacto h2{
    font-size: 1.3em;
    color: #008037;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
    
}

main .link{
    text-align: center;
    float: left;
    margin-left: auto;
    margin-right: auto;
    
}
main .link h2{
    font-size: 1.3em;
    color: #008037;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin:130px;
    

    
}
 

main .formato{
    float: right;

}

main input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    color:  #ffeee9;
}

main textarea{
    min-height: 50px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    cursor: pointer;
    background-color: #04391b;
    font-size: 'Open Sans', sans-serif;
    padding: 20px;
}

/*main div .link div .botton{
    justify-content: space-between;
    justify-content: center;
}
main div:nth-child(3) form .recuadro{
    font-family: 'Ephesis', cursive;
    padding: 10px;
}*/


footer{
    background-color: #04391b; 
    width: 100%;
    font-family: 'Open Sans', sans-serif;
   block-size: 400;
   
}

footer div{
    color: #ffeee9;
    font-size: 1.3em;
    text-align: center;
   font-weight: 400;

}
